<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular, usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header='UpperCase' [subheader]='nombreLower | uppercase'>
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header='LowerCase' [subheader]='nombreLower | lowercase'>
            {{ nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header='TitleCase' [subheader]='nombreCompleto | titlecase'>
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | Date</li>
                <li>Fecha | Date: 'short'</li>
                <li>Fecha | Date: 'long'</li>
                <li>Fecha | Date: 'dd/MM/yyyy, HH:mm:ss ZZZZ'</li>
            </ul>

            <hr>

            <ul>
                <li>fecha | date: 'long' : 'GMT+1'</li>
                <li>fecha | date: 'long' : 'GMT'</li>
                <li>fecha | date: 'long' : '' : 'en'</li>
                <li>fecha | date: 'long' : '' : 'fr'</li>
            </ul>

        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li> {{fecha}} </li>
                <li> {{fecha | date}} </li>
                <li> {{fecha | date: 'short'}} </li>
                <li> {{fecha | date: 'long'}} </li>
                <li> {{fecha | date: 'dd/MM/yyyy, HH:mm:ss ZZZZ'}} </li>
            </ul>

            <hr>

            <ul>
                <li> {{fecha | date: 'long' : 'GMT+1'}} </li>
                <li> {{fecha | date: 'long' : 'GMT'}} </li>
                <li> {{fecha | date: 'long' : '' : 'en'}} </li>
                <li> {{fecha | date: 'long' : '' : 'fr'}} </li>
            </ul>
            
        </p-card>
    </div>
</div>